.stat-card{

background:white;

border-radius:18px;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.06);

transition:.3s;

}

.stat-card:hover{

transform:translateY(-5px);

}