.sidebar{

width:260px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#132238;

color:white;

display:flex;

flex-direction:column;

}

.logo{

padding:30px;

font-size:24px;

font-weight:bold;

border-bottom:1px solid rgba(255,255,255,.1);

}

.menu{

flex:1;

padding-top:20px;

}

.menu-item{

display:flex;

align-items:center;

gap:15px;

padding:16px 30px;

color:white;

text-decoration:none;

transition:.3s;

}

.menu-item:hover{

background:#1E3554;

}

.menu-item.active{

background:#0D6EFD;

}

.logout{

padding:25px;

border-top:1px solid rgba(255,255,255,.1);

cursor:pointer;

}